<!DOCTYPE html>
<html lang="en">
    <html xmlns:th="http://www.thymeleaf.org">
        <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
        <head>
            <meta charset="UTF-8">
            <title>Title</title>
        </head>
        <body>
            <h1>Add Menu Item</h1>
            <a href="/admin_operations">Back</a>

            <form action="#" method="post" th:object="${baseProduct}">
                <p>Item Name<br> <input th:field="*{productName}" type="text" placeholder="Cartofi Prajiti"/></p>
                <p>Item Price<br> <input th:field="*{productPrice}" type="text" placeholder="12.78"/></p>
                <div>
                    <br>
                    <br>
                    <input type="submit" value="Add Product" name="add"/>
                </div>
            </form>

        </body>
    </html>